{% extends 'base.html' %}
{% block body %}
        <h3>{{ melon.common_name }}</h3>
        <img class="melon_image" src="{{ melon.image_url }}" alt="picture of a {{ melon.common_name }}">
        <h4>{{ melon.price_str() }}</h4>
        <h4>{{ melon.color }}</h4>
        {% if melon.seedless %}
            <h4> Seedless </h4>
        {% else %}
            <h4> Not Seedless </h4>
        {% endif %}

        <a href="{{url_for('add_to_cart', melon_id= melon.melon_id)}}" class="btn btn-primary">Add to Cart</a>
{% endblock %}